<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Medi-AI</title>
  </head>
  <body>
  <header>
      <h1>Medi-AI web server</h1>
      <hr>
  </header>
  <main>
      <h2>Welcome to Medi-AI</h2>
      <p>Here you can GET data from machine learning models for Medi-Screen.</p>

      <p>Learn who to use by checking out the updated README.md <a href="https://github.com/DandDevy/medi_ai/blob/master/README.md">here</a></p>

  </main>
  <footer>
      <hr>
      <a href="https://github.com/DandDevy/medi_ai">github.com/DandDevy/medi_ai</a>
      <p><i>Note: This github project will be changed from private to public once the module is finished.</i></p>
      <p>For BSc (Honours) CIT Software Development third year <b>group project</b>. By Daniel Ashcroft, Emma Brennan, Janet Mullins and Fionn O'Reilly</p>
  </footer>
  </body>
</html>