<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Medi-Screen</title>
  </head>
  <body>
    <h1>Welcome to use medi-screen for diabetes</h1>
    <p>(For now this doesn't work yet.) This will return dummy data for you.</p>
	<p>Doing a POST request to  <b> https://vaulted-bazaar-249714.appspot.com/test/  </b> should return a result of true</p>
	<p>Ideally doing a POST request to  <b> https://vaulted-bazaar-249714.appspot.com/diabetes/  </b>  with JSON of data from the data set should return a result in JSON. Not there yet.</p>
  </body>
</html>